<a href="https://colab.research.google.com/github/CodeCrafter-101/Subset-Selection-Problem/blob/main/Subsetselection_problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Subset Selection Problem

Find all the subsets from a set of numbers whose sum is zero.

Constraint: Subset size must be 5
Set={-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4}

1. Library inclusion

In [1]:
import random as r

2. Parameter Setting

In [2]:
Set=[-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4]
set_size=5
res=set()
iterations=1000

3. Start Program

In [3]:
for _ in range(iterations):
  set_size=r.randint(3,6)
  chr=r.sample(Set,set_size)
  if sum(chr)==0:
    res.add(tuple(sorted(chr)))

4. Print the sets and total count

In [4]:
for r in res:
  print(r,'\n')

(-6, -5, 1, 3, 7)

(-7, -3, -2, 2, 3, 7)

(-8, -6, -2, 1, 6, 9)

(-9, -3, -2, 1, 6, 7)

(-7, -4, 1, 3, 7)

(-5, -3, 2, 6)

(-9, -5, 2, 3, 9)

(-12, -6, -2, 3, 6, 11)

(-7, -5, -2, 3, 11)

(-12, 1, 11)

(-12, 2, 3, 7)

(-8, -3, -2, 6, 7)

(-9, -8, -5, 2, 9, 11)

(-9, -3, 1, 11)

(-8, -2, 1, 9)

(-8, 1, 7)

(-8, -6, -3, 6, 11)

(-7, -4, 2, 9)

(-6, -5, 11)

(-9, -7, 1, 6, 9)

(-12, -5, -3, 9, 11)

(-7, -6, -4, -3, 9, 11)

(-9, -8, 6, 11)

(-4, -3, 7)

(-9, 3, 6)

(-9, 1, 2, 6)

5. Complete Program

In [5]:
import random as r
Set=[-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4]
res=set()
iterations=1000
for _ in range(iterations):
  set_size=r.randint(3,6)
  chr=r.sample(Set,set_size)
  if sum(chr)==0:
    res.add(tuple(sorted(chr)))
for r in res:
  print(r,'\n')

(-12, -5, 6, 11)

(-8, -5, 6, 7)

(-9, -3, 3, 9)

(-6, -3, -2, 11)

(-4, 1, 3)

(-8, -7, -6, 3, 7, 11)

(-12, 2, 3, 7)

(-12, -7, 2, 6, 11)

(-8, 2, 6)

(-5, -3, -2, 1, 9)

(-9, -4, -3, 1, 6, 9)

(-8, -5, -3, 7, 9)

(-6, -5, 11)

(-8, -5, -4, 1, 7, 9)

(-8, -5, 2, 11)

(-9, -4, -3, -2, 7, 11)

(-8, -4, 3, 9)

(-8, -6, -4, -2, 9, 11)

(-12, -8, 2, 7, 11)

(-8, -3, 11)

(-7, -5, -3, 6, 9)

(-8, -7, 2, 6, 7)